.Acknowledgements {
	background: linear-gradient(to bottom, white 50%, $color-yellow 50%);
	z-index: -1;
	.copy-wrap{
		max-width: 100%;

		img {
			max-width: 100%;
		}
	}
	.app {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 25px;
		margin-top: auto;
		.app_images {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}
	.bg-shape {
		position: absolute;
    bottom: calc(50% - 150px);
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg {
	    position: relative;
	    display: block;
	    width: calc(160% + 1.3px);
    	height: 386px;
		}
		.shape-fill {
		   fill: #EACF60;
		}
	}
}