.FeaturedProgram {
  .flex-wrap {
		gap: 20px;
	}
	.text-wrap {
		flex: 1 1 400px;
    font-family: $font-secondary;
    padding-top: 2em;

    h4 {
      font-family: $font-secondary;
      padding-bottom: 0.5em;
    }

    @media screen and (min-width: $desktop){
      max-width: 600px;
      padding-top: 0;
		}
	}
	.image-wrap {
		flex: 1 1 600px;

    @media screen and (min-width: $desktop){
      max-width: 720px;
		}
	}
	p {
		margin-bottom: 30px;
	}

  .accordion {
    background: rgba($color-white, 0.4);
		border: 1px solid rgba($color-purple, 0.4);
		box-shadow: 6px 6px 12px rgba($color-black, 0.13);
		border-radius: 5px;
    margin-bottom: 20px;

    button {
      background: none;
      padding: 35px 20px;
      text-align: left;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .title {
        font-size: 1.5em;
        font-family: $font-secondary;
        font-weight: 700;
        padding-right: 20px;
      }

      svg {
        transition: all 0.2s ease-in-out;
				line-height: 1.2;
      }

      &.open {
        svg { transform: rotate(180deg); }
      }
    }
  }
  
  .accordion-panel {
    max-height: 0;
    transition: max-height 0.3s ease-in;
    overflow: hidden;
    padding: 0;

    .accordion-content {
      padding: 20px;
    }
  }
  .accordion-panel:not([aria-hidden="true"]) {
    max-height: 99em;
  }

  .btn-primary {
    padding: 8px 18px;
    margin-top: 1em;
    display: inline-block;
  }
}
