.reportsCarousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 20px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }
}

.buttons {
  display: flex;
  gap: 10px;

  @media (max-width: 600px) {
    margin-top: 10px;
  }
}

.btn-back,
.btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  background-color: $color-pink;
  border-radius: 50%;
  color: white;
  padding: 5px;
  &:hover {
    background-color: $color-black;
  }
}

.slider {
  // this wasnt from the programs carousel i stole this from stack overflow but didnt solve problem
  width: 100%;
  overflow: hidden;

  @media (max-width: $tablet) {
    .carousel__slider-tray-wrapper {
      max-width: 70vw;
    }
  }
}

.seeOtherBtn {
  background: white;
  margin-bottom: 13px;
  margin-right: 13px;
  color: $color-pink;
  border-top: 2px solid $color-pink;
  border-left: 2px solid $color-pink;
  border-bottom: 9px solid $color-pink;
  border-right: 7px solid $color-pink;
  border-radius: 100px;
  margin-top: 20px;
  padding: 10px 15px;
}

.seeOtherBtn:hover {
  background: $color-black;
}

.seeOtherBtn p {
  font-weight: 700;

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}
