.reportsCarousel {
  // currently breaking mobile layout
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn-back,
.btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  background-color: #c6425f;
  border-radius: 50%;
  color: white;
  padding: 5px;
}
