.reportsCarousel {
  // currently breaking mobile layout
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn-back,
.btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  background-color: #c6425f;
  border-radius: 50%;
  color: white;
  padding: 5px;
}

.seeOtherBtn {
  background: #ffffff;
  margin-bottom: 13px;
  margin-right: 13px;
  color: $color-pink;
  border-top: 2px solid $color-pink;
  border-left: 2px solid $color-pink;
  border-bottom: 9px solid $color-pink;
  border-right: 7px solid $color-pink;
  border-radius: 100px;
  margin-top: 20px;
  padding: 10px;
}

.seeOtherBtn:hover {
  background: #000;
}

.seeOtherBtn p {
  font-weight: 700;
}
