.TextCards {
  .copy-wrap {
    max-width: 452px;
  }
  .card-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 60px;
    gap: 20px;
    @media screen and (max-width: $desktop) {
      gap: 20px;
    }
  }
  .card {
    max-width: 374px;
    min-height: 421px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-shadow: $box-shadow;
    border-radius: 5px;
    padding: 58px 23px 26px;

    .btn-c {
      width: 100%;
    }
    h3 {
      line-height: 1.4;
    }
    @media screen and (max-width: $mobile) {
      padding: 58px 18px 26px;
    }
  }
  .card:nth-of-type(3n-2) {
    background: $color-blue-light;
  }
  .card:nth-of-type(3n-1) {
    background: $color-purple;
  }
  .card:nth-of-type(3n) {
    background: $color-yellow;
  }
}

.StaggeredTextCards {
  .copy-wrap {
    text-align: center;
    margin-bottom: 60px;
    p {
      padding: 0px 270px;
      @media screen and (max-width: $tablet) {
        padding: 0px;
      }
    }
  }
  .card-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 60px;
    gap: 20px;
    @media screen and (max-width: $mobile) {
      gap: 35px;
    }
    @media screen and (max-width: $mobile) {
      padding: 0;
    }
  }
  .card {
    max-width: 374px;
    height: 421px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: $box-shadow;
    border-radius: 5px;
    padding: 58px 23px 26px;
    position: relative;
    .btn-c {
      width: 100%;
    }
    h3 {
      line-height: 1.4;
      font-size: 30px;
      padding: 0px 18px;
    }
    p {
      @media screen and (max-width: $mobile) {
        margin-bottom: 25px;
      }
    }
    @media screen and (max-width: $mobile) {
      padding: 58px 18px 26px;
      height: auto;
      max-width: 70%;
    }
  }
  .card:nth-of-type(3n-2) {
    background: $color-yellow;
    @media screen and (max-width: $mobile) {
      margin-right: auto;
    }
  }
  .card:nth-of-type(3n-1) {
    background: $color-blue-light;
    margin-top: 80px;
    @media screen and (max-width: $desktop) {
      margin: 0px;
    }
    @media screen and (max-width: $mobile) {
      margin-left: auto;
    }
  }
  .card:nth-of-type(3n) {
    background: $color-purple;
    @media screen and (max-width: $mobile) {
      margin-right: auto;
    }
  }
}
