.TextCallout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  background-color: $color-purple;
  max-width: 50%;
  padding: 50px;
  text-align: center;
  @media screen and (max-width: $tablet) {
    max-width: 70%;
    padding: 30px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 80%;
    padding: 30px;
  }

  h2 {
    margin: 20px 0px;
    @media screen and (max-width: $tablet) {
      font-size: 2.5rem;
    }
  }
}

.description {
  text-align: center;
}
