.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-yellow;
  border-radius: 5px;
  padding: 30px;
  width: 100%;
}

.imgWrap {
  position: relative;
}

.imgWrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.imgWrap::after {
  content: 'test tag text';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $color-blue_light;
  margin: 5px 0px 0px 0px;
  padding: 7px;
}

.cardText .titleText p {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px 0px 10px 0px;
}

.cardText p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0px;
}

.links {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.links {
  font-weight: 700;
  font-size: 1.15em;
}
