header {
	.language-switcher{
	  list-style: none;
	  display: flex;
	  align-items: center;
	  gap: 10px;
	  width: max-content;
	  svg{
	    filter: brightness(0) invert(1);
	  }
	  & > div {
	  	width: max-content;
	  }
	  span,select{
	    background: none;
	    color: $color-text;
	    font-weight: 700;
	    font-size: 16px;
	    padding: 5px 0;
	  }
	  option{
	    color: $color-text;
	    font-weight: 700;
	    font-size: 16px;
	  }
	  @media screen and (max-width: 960px){
	  	background: $color-yellow;
	  	box-shadow: 6px 6px 12px rgba(2, 0, 103, 0.13);
			border-radius: 100px;
			padding: 6px 12px;
			position: fixed;
			bottom: 20px;
			right: 20px;
			z-index: 100;
	  	span {
	  		display: none;
	  	}

	  }
	}
	.banner{
	  background: $color-yellow;
	  display: flex;
	  justify-content: space-between;
	  height: 50px;
	  align-items: center;
	  padding: 0 20px;
	  gap: 20px;
	}
	.social-links{
		display: flex;
		justify-content: space-between;
		gap: 10px;
		width: 232px;
		max-width: 60%;
		a{
			height: 28px;
		}
		svg {
			height: 28px;
			width: auto;
			color: $color-pink;
		}
	}
	.desktopMenu {
		display:flex;
		justify-content: space-between;
		.menuLinks {
			display: flex;
			gap: 24px;
			margin: 16px 0;
			padding-right: 20px;
			svg {
				width: 16px;
				height: auto;

			}
		}
		.dropLabel b{
			display: flex;
			align-items: center;
			gap: 5px;
		}
		.dropLabel:hover{
			& ~ .dropWrap {
				display: flex;

			}
			svg {
				transform: rotate(180deg);
				transition: 0.2s all;
			}
		}
		.dropWrap{
			display: none;
			bottom: 100%;
			position: absolute;
		}
	}
}