/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
*,
html {
  /* -webkit-font-smoothing: antialiased; */
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}
::selection {
  background: $color-hl; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-hl; /* Gecko Browsers */
}

body {
  font-family: $font-secondary;
  background: $color-bg;
  letter-spacing: 0;
}
section{
  position: relative;
  padding: 60px 0;
}

button:focus {
  outline: 0;
}

.Container {
  max-width: $width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: content-box;
}
.center-align{
  text-align: center;
  margin: 0 auto;
}
.center-align.max-content{
  width: max-content;
}
.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 2rem;
  max-width: inherit;
}

main,
header,
footer {
  margin: 0 auto;
}

